nav {
    display: flex;
    justify-content: space-around;
    height: 7svh;
    
}

nav > button {
 width: 100%;
 background-color: white;
 border-radius: 0px;
 transition: ease-in;
 box-shadow: none;
}

nav > button:focus,
nav > button:focus-visible {
    box-shadow: none;
}

nav > button.active {
    border-bottom: 2px solid var(--color-text-focus);
    color: var(--color-text-focus);
}