.taskCounter {
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

.taskCounterBox {
    width: 20%;
    padding: 10px;
    position: relative;
    border: 1px solid var(--color-border-soft);
    border-radius: 13px;
    box-shadow: var(--shadow-soft); 
}

.taskCounterBox h4 {
    text-align: start;
    height:auto;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}

.taskCounterBox img {
    position: absolute;
    right: 5px;
    top: 10px;
}
.taskCounterBox p {
    text-align: start;
    font-weight: 100;
}